/* --------------------------------case study landing page---------------------------- */
#casestudy-landing {
  color: #fff;
  padding: 120px 25vh 20px;
  text-align: left;
  min-height: 100vh;
}

.casestudy-header {
  margin-top: 4%;
  font-size: 3rem;
  color: #3B5998;
  text-align: left;
}

.casestudy-summary {
  margin-top: 2%;
  font-size: 1rem;
  color: #2c2c2c;
  text-align: left;
}

.landing-background {
  padding: 20px;
  height: 300px;
  background: #3B5998;
  text-align: center;
}

.landing-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
}

.landing-text {
  padding: 10px 15px 10px;
  text-align: left;
}

.landing-description {
  margin-top: 5%;
  font-size: 1rem;
  color: #2c2c2c;
  text-align: left;
}

.casestudy-img {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.casestudy-img:hover {
  box-shadow: 0 10px 20px rgba(21, 21, 21, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex div:first-child {
  padding-right: 5%;
}

/* ------------------------more projects Section--------------------------- */
#more-projects {
  background-color: white;
  padding: 2% 2%;
  text-align: left;
}

.more-projects-header {
  margin-top: 5%;
  font-size: 2.5rem;
  color: #404040;
}


/* ------------------------Responsiveness--------------------------- */
  /* Styles for large screens */
  @media (min-width: 1200px) {
    /* Add styles for large screens here */
    #casestudy-landing, #more-projects{
        padding: 120px 25vh 20px
    }
  }
  
  /* Styles for medium screens */
  @media (max-width: 1199px) and (min-width: 768px) {
    /* Add styles for medium screens here */
    #casestudy-landing, #more-projects{
        padding: 110px 10vh 10px
    }
    .flex{
      flex-direction: column;
      align-items: center;
    }
  } 
  
  /* Styles for small screens */
  @media (max-width: 767px) {
    /* Add styles for small screens here */
    #casestudy-landing, #more-projects{
        padding: 120px 5vh 10px
    }
    .flex{
      flex-direction: column;
      align-items: center;
    }
  }

/* ------------------------Footer Section--------------------------- */
#footer {
  background-color: white;
  padding: 2% 2%;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 34px !important;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* Facebook */
.fa-facebook {
  color: #3B5998;
}

.fa-instagram {
  color: #3B5998;
}

.fa-linkedin {
  color: #3B5998;
}

#expandedImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9999;
}

#expandedImage img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#closeButton {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
