/* COGS3 studyBuddy specific styles go here. */
#title {
  background-size: cover;
    background-image: url(../images/background_bubbles.png);
    height: 100%;
    width: 100%;
  }
  
  .container-fluid {
    padding: 0% 15%;
  }
  
  .card{
      padding: 1.5em .5em .5em;
      border-radius: 2em;
      text-align: center;
      /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
  }
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transform:scale(1.05);
  }
  
  h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 1.5;
    text-align: center;
    color: #2c2c2c;
  }
  
  h2 {
    font-family: 'Merriweather';
    font-size: 1.0vw;
    font-weight: bold;
    color: #2c2c2c;
  }
  
  h3 {
    font-family: 'Merriweather';
    font-size: 0.4;
    font-weight: light;
  }
  
  h4 {
    font-family: 'Merriweather';
    color: #01004d;
  }
  
  p {
    color: #01004d;
  }
  
  .top-padding {
    margin-top: 150px;
  }
  
  /* Navigation Bar */
  .navbar {
    padding: 0 0 0rem;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 15%;
    z-index: 9999;
    padding: 3% 10%;
  }
  
  .navbar-brand {
    font-family: 'Quattrocento';
    font-size: 3rem;
    font-weight: bold;
    padding: 0 10px;
  }
  
  .navbar-item {
    padding: 0 10px;
  }
  
  .nav-link {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.5vw;
  }

  @media screen and (max-width: 991.5px){

    .navbar-nav {
      width: 25% !important;
      text-align: right;
    }
}
  
  /* Download Buttons */
  .center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* projects */
  #projects {
    padding: 100px;
    text-align: center;
    
  }
  
  .projects-header {
    margin-top: 5%;
    font-size: 3.5rem;
    color: #01004d;
  }
  
  .projects-column {
    padding: 3% 2%;
  }
  
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
  
  #groupprojects {
    padding: 100px;
    text-align: center;
    background-image: linear-gradient(#023e8a, #457fcb);
  
  }
  
  /* skills */
  #skills {
    background-image: linear-gradient(#030334, #457fcb);
    color: #fff;
    padding: 70px;
    text-align: center;
  }
  
  .skills-header {
    margin-top: 5%;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
  }
  
  /* Footer Section */
  #footer {
    background-color: white;
    padding: 2% 2%;
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 38px !important;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }

      /* Facebook */
    .fa-facebook {
      color: #3B5998;
    }

    .fa-instagram {
      color: #3B5998;
    }

    .fa-linkedin {
      color: #3B5998;
    }
  
  /* Media Query Section */
  @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  
  /* --------------------------------case study landing page---------------------------- */
 #casestudy-landing {
  color: #fff;
  padding: 120px 300px 20px;
  text-align: left;
  min-height: 100vh;
 }

 .casestudy-header {
  margin-top: 1%;
  font-size: 3rem;
  color: #3B5998;
  text-align: left;
 }
 .casestudy-summary {
  margin-top: 2%;
  font-size: 1.5rem;
  color: #2c2c2c;
  text-align: left;
 }

 .landing-background {
  padding: 20px;
  height:300px;
  background: #3B5998;
  text-align: center;
 }

 .landing-image {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    text-align: center;
 }
 .landing-text {
  padding: 10px 15px 10px;
  text-align: left;
}

.landing-description {
  margin-top: 5%;
    font-size: 1rem;
    color: #2c2c2c;
    text-align: left;
}

.casestudy-img{
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.casestudy-img:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  transform:scale(1.05);
}

  
  /* --------------------------------veil.html---------------------------- */
  
  
  /* veil.html */
  #veil {
    background-image: linear-gradient(#01004d, #457fcb);
    color: #fff;
    padding: 70px;
    text-align: left;
  }
  
  .veil-headings {
    margin-top: 5%;
    font-size: 2.5rem;
    color: #ffff;
    text-align: left;
  }
  
  .veil-body {
    margin-top: 5%;
    font-size: 2rem;
    color: #ffff;
    text-align: left;
  }
  
  .veil-column {
    padding: 3% 2%;
  }
  
  /* --------------------------------Kinoyume.html---------------------------- */
  
  
  /* Kinoyume.html */
  #kinoyume {
    background-image: linear-gradient(#01004d, #00b4d8);
    color: #fff;
    padding: 300px;
    text-align: left;
  }
  
  .kinoyume-header {
    margin-top: 2%;
    font-size: 3.5rem;
    color: #ffff;
    text-align: center;
  }
  
  .kinoyume-headings {
    margin-top: 2%;
    font-size: 2vw;
    color: #ffff;
    text-align: left;
  }
  .kinoyume-subheadings {
    margin-top: 3%;
    font-size: 1.5vw;
    color: #747474;
    text-align: left;
  }
  
  .kinoyume-body {
    margin-top: 2.5%;
    font-size: 1.2vw;
    color: #ffff;
    text-align: left;
  }
  
  .kinoyume-column {
    padding: 3% 2%;
  }
  
  
  /* --------------------------------sink.html---------------------------- */
  
  /* sink.html */
  #sink {
    color: #fff;
    padding: 10px 300px 100px;
    text-align: left;
  }
  
  .sink-headings {
    margin-top: 2%;
    font-size: 2vw;
    color: #00b4d8;
    text-align: left;
  }
  .sink-subheadings {
    margin-top: 3%;
    font-size: 1.5vw;
    color: #9b9b9b;
    text-align: left;
  }
  
  .sink-body {
    margin-top: 2.5%;
    font-size: 1.2vw;
    color: #323232;
    text-align: left;
  }
  
  .sink-column {
    padding: 3% 2%;
  }
  
  
  
  